@import url('https://fonts.googleapis.com/css2?family=Brush+Script+MT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DejaVu+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lucida+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Preto */
    margin: 0;
    padding: 0;
    color: #fff; /* Branco para o texto */
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background: #222; /* Preto um pouco mais claro */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    padding: 20px 0;
}
.header h1 {
    margin: 0;
    color: #ff0000; /* Tomate */
}
.header .lucida-sans {
    font-family: 'Lucida Sans', sans-serif;
}
.content {
    margin: 20px 0;
}
.content p {
    font-size: 1.1em;
}
.important-date {
    font-size: 1.5em;
    color: #ff0000; /* Tomate */
}
.important-date.calibri {
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
}
.dejavu {
    font-family: 'DejaVu Sans', sans-serif;
}
.brush-script {
    font-family: 'Brush Script MT', cursive;
}
.century-gothic {
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: center;
    gap: 40px; /* Aumenta o espaço entre as imagens */
}
.carousel-inner img {
    flex: 0 0 auto; /* Garante que as imagens não se redimensionem */
    max-width: 100%; /* Largura máxima */
    object-fit: cover; /* Ajustando a imagem sem distorção */
}
.carousel-inner img.vertical {
    height: 500px; /* Altura fixa para imagens verticais */
}
.carousel-inner img.horizontal {
    height: auto;
    max-height: 500px; /* Altura máxima para imagens horizontais */
}

/* Media queries para responsividade */
@media (max-width: 1024px) {
    .carousel-inner img.vertical {
        height: 400px; /* Altura para tablets */
    }
    .carousel-inner img.horizontal {
        max-height: 400px; /* Altura para tablets */
    }
}

@media (max-width: 768px) {
    .carousel-inner img.vertical {
        height: 300px; /* Altura para telas menores */
    }
    .carousel-inner img.horizontal {
        max-height: 300px; /* Altura para telas menores */
    }
}

@media (max-width: 480px) {
    .carousel-inner img.vertical {
        height: 200px; /* Altura para telas ainda menores */
    }
    .carousel-inner img.horizontal {
        max-height: 200px; /* Altura para telas ainda menores */
    }
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}
.carousel-btn.prev {
    left: 20px; /* Aumenta a distância do botão da borda esquerda */
}
.carousel-btn.next {
    right: 20px; /* Aumenta a distância do botão da borda direita */
}

/* Estilos para a área de texto */
.text-area {
    margin-top: 30px;
    text-align: center;
}
.text-area h2 {
    font-family: 'Lucida Sans', sans-serif;
    color: #ff6347; /* Vermelho mais suave */
}
.text-area textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #ff6347; /* Vermelho mais suave */
    border-radius: 5px;
    background-color: #333;
    color: #fff; /*
